<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCN62ZSHRopFXh3VNdZagO8LfK5_cK9OFY</string>
	<key>GCM_SENDER_ID</key>
	<string>356323883967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.listinApp</string>
	<key>PROJECT_ID</key>
	<string>listin-app-49d1c</string>
	<key>STORAGE_BUCKET</key>
	<string>listin-app-49d1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356323883967:ios:4caf0c0088f90524157f0a</string>
</dict>
</plist>